/Exemplo1Java/target/
/Exercicios/exerc1/target/
/Exercicios/exerc2/target/
/Exercicios/Exerc4/target/
/Exercicios/exerc5/target/
/Exercicios/exerc6/target/
/aulas/exemploOO/target/
/Exercicios/exerc1Poo/target/
/Exercicios/exerc3POODobro/target/
